
body {
  background-image: url(../img/bosque.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.row{
    padding: 0;
    margin: 0;
}
#imagen img {
    height: 35vh;
    margin-top: 5px;
    margin: 15px;
}
.progress-bar{
    background-color: #e9f237;
}
#selecciona{
    text-align: left;
    color: #4b4668;
}
#opciones div{
    margin-bottom: 16px;
    margin-left: 16px;
}
.parrafoRespuesta{
    margin-left: 20px;
}
h2 {
    font-size: 20px;
    font-size: 2vw;
	  padding: 10px;
}
.col-xl-5{
    background-color: #edecf0;
    color: #4b4668;
    font-size: 24px;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0 20px 15px;
    border: 1px solid #4b4668;
    padding: 6px 44px 6px 14px;
    width: 100%;
    transition: background-color .3s linear,border-color .3s linear,color .3s linear;
}

button{
    text-align: center;
    padding: 6px 14px;
    background-color: #28a745;
    color: #fff;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700px;
    margin-left: 2px;
    border: 1px solid #4b4668;
    width: 10%;
    border-radius: 3px;
}
.btn-opciones:hover{
  width: 100px;
  background-color: rgb(135, 241, 149);
}
/*iconos de redes sociales*/
.iconos {
    font-size: 1.2vw;
}
.twiter{
    color: #0084b4;
}
.face{
    color: #3b5998;
}
.google{
    color: #d34836;
}
